body {
    font-family: 'Fira Sans', Arial, sans-serif;
    margin: 0px;
    color: #141414;
}

h1, h2, h3, p {
    margin: 0px;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.subtitulo {
    font-size: 6rem;
    line-height: 1;
    word-break: break-all;
    text-transform: uppercase;
    max-width: 5ch;
}

a {
    text-decoration: none;
}

.pt-2 {
    padding-top: 2rem;
}


.flex {
    display: flex;
}

.gap-1 {
    gap: 1rem;
}

.align-center {
    align-items: center;
}

@media (max-width: 800px) {
 .subtitulo {
    font-size: 3rem;
    text-transform: capitalize;
    max-width: initial !important;
 }
 }